@using Drugstore.Models
@{
    ViewData["Title"] = "Drug Page";
    var drug = Model;
}
<h1>edit Drug</h1>
<form action="/drug/SaveDrug" method="get">
    <div class="mp-3">
        <label for="Name" class="form-label">ID</label>
        <input type="text" class="form-control" id="Id" name ="Id" value="@drug.Id" readonly>
    </div>
    <div class="mp-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" id="Name" name ="Name" value="@drug.Name">
    </div>
    <div class="mp-3">
        <label for="Age" class="form-label">so luong</label>
        <input type="text" class="form-control" id="soLuong" name ="soLuong" value="@drug.soLuong">
    </div>
    <div class="mp-3">
        <label for="Address" class="form-label">nha san xuat</label>
        <input type="text" class="form-control" id="nhaSX" name ="nhaSX" value="@drug.nhaSX">
    </div>
    <button type="submit" class="btn btn-primary mt-4"> luu </button>
</form>